{{!-- I pledge my honor that I have abided by the Stevens Honor System. --}}
<div>
<p>Username: {{user.username}}</p>
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Profession: {{user.profession}}</p>
<p>Bio: {{user.bio}}</p>
</div>
<a href="/logout">Logout</a>
